/* styles adopt page */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  width: 100%;
}

h1 {
  color: #0d6968;
  font-size: 200px;
  font-family: "omnium-tagline", sans-serif;
  font-weight: 700;
  text-shadow: 6px 6px #015571;
  padding: 40px 0;
}

.subContainer img{
  width: 50vw;
  text-align: center;
  border-radius: 50%;
}

.subContainer p{
  color: black;
  font-size: 32px;
  font-weight: 400;
  font-family: "oswald", sans-serif;
  text-align: center;
  padding: 40px 0;  
}

#adoptButton{
  color: white;
  background-color: #015571;
  font-size: 28px;
  font-weight: 400;
  font-family: "oswald", sans-serif;
  padding: 4px 20px;
  border: solid 2px #015571;
  border-radius: 8px;
  cursor: pointer;  
  transition: all .3s ease;
}

#adoptButton:hover{
  color: #015571;
  background-color: white;  
  transform: translateY(-4px);  
}

h2 {
  color: #015571;
  font-size: 60px;
  font-family: "omnium-tagline", sans-serif;
  font-weight: 700;  
  padding: 40px 0;
  text-shadow: 2px 2px black;
}


ol {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 2px #015571;
  border-radius: 20px;
  padding: 12px 24px;
}

ol li{
  color: #000;
  font-size: 32px;
  font-weight: 300;
  font-family: "oswald", sans-serif;
  margin: 12px 0px 0px 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  margin-bottom: 40px;
}

label {
  color: black;
  font-size: 20px;
  font-family: "oswald", sans-serif;
  padding: 4px 0 0 8px;
}

input{
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  font-family: "oswald", sans-serif;
  padding: 4px 12px;
  margin-bottom: 8px;
  border: solid 2px #015571;
  border-radius: 40px;
}

#buttonSubmit{
  color: white;
  width: 20%;
  background-color: #015571;
  font-size: 20px;
  font-weight: 400;
  font-family: "oswald", sans-serif;
  padding: 4px 16px;
  border: solid 2px #015571;
  border-radius: 40px;
  cursor: pointer;  
  transition: all .3s ease;
  margin: 20px 0;
}

#buttonSubmit:hover{
  color: #015571;
  background-color: white; 
   
}

/*media query tablet*/

@media (max-width:1200px) {
  
  .subContainer{
    padding: 0 12px;
  }

  h1 {    
    font-size: 140px; 
    text-shadow: 2px 2px #015571;     
  }

  .subContainer img{
    width: 70vw;    
  }

  .subContainer p{    
    font-size: 24px;    
  }

  ol li{    
    font-size: 24px;    
  }

}

/*media query mobile*/

@media (max-width:440px) {
  
  .subContainer{
    padding: 0 12px;
  }

  h1 {    
    font-size: 60px; 
    text-shadow: 2px 2px #015571;     
  }

  #buttonSubmit{    
    width: 50%;    
  }

}