/*styles issues page*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.subContainer {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width: 100%;
  padding: 20px 0;
}

.subContainer__Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120rem;
  width: 100%;
  padding: 40px 0;
}

/* cards */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 340px;
  height: auto;
  margin: 40px 20px;
}

.cardImage {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  pointer-events: none;
}

.text-overlay p {
  margin: 0;
}

figure:hover .text-overlay {
  opacity: 1;
}

figcaption{
  position: absolute;
  bottom: -48px;
  color: #124455;
  font-size: 32px;
  font-family: "oswald", sans-serif;
  
}

figure p {
  color: #124455;
  font-family: "oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px; 
  text-align: justify;
}


/*turtle section*/

.turtle{
  padding-top: 20px;
}

#text-turtle{
  color: black;
  font-size: 24px;
  font-weight: 300;
  font-family: "oswald", sans-serif;
  margin: 20px 0;
  text-align: justify;
}


/*media query tablet*/

@media (max-width:1200px) {
  .subContainer{
    padding: 20px 40px;
  }

  .subContainer__Cards{
    padding: 0;
  } 

}


/*media quiery mobile*/

@media (max-width:440px) {
  
  .subContainer{
    padding: 0 12px;
  } 
  

}